@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


@bgcolor: rgb(241, 233, 255);
@textcolor: rgb(130, 130, 130);
@maincolor: rgb(125, 74, 176);
@spotcolor: rgb(246, 128, 124);

@titlefont: "Major Mono Display", monospace;
@mainfont: "Red Hat Display", sans-serif;

.buttonstyle() {
    padding: 15px;
    width: 328px;
    border: none;
    border-radius: 24px;
    font-family: @mainfont;
    font-size: 1rem;
    cursor: pointer;
}


* {
    margin: 0px;
    padding: 0px;
}

body {

    height: 100vh;
    box-sizing: border-box;
    background-color: @bgcolor;
    color: @textcolor;

    header {
        display: flex;
        padding: 2%;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .fa-solid {
            color: @maincolor;
        }

        .header__title {
            font-family: @titlefont;
            font-size: 1.2rem;
            font-weight: 600;
            color: @maincolor;
        }

    }

    .main__container {
        height: 75%;
        display: flex;
        padding: 0px 50px 0px 150px;
        gap: 8%;

        .main__container-text {
            display: flex;
            flex-direction: column;
            width: 60%;
            gap: 20px;

            .main__container-text-input {
                width: 100%;
                height: 100%;
                resize: none;
                padding: 25px;
                border-radius: 32px;
                border: none;
                background-color: white;
                font-family: @mainfont;
                font-size: 1.2rem;
                color: @maincolor;
                text-align: start;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: lightgrey;
                }

                &:focus::placeholder {
                    color: transparent;
                }
            }

            .main__container__buttons {
                display: flex;
                gap: 40px;
                justify-content: center;

                .criptbutton {
                    .buttonstyle();
                    color: white;
                    background-color: @spotcolor;

                    &:hover {
                        transition: all 1s;
                        background-color: @maincolor;
                    }
                }

                .uncriptbutton {
                    .buttonstyle();
                    color: @spotcolor;
                    background-color: white;
                    border: 1px solid @spotcolor;

                    &:hover {
                        transition: all 1s;
                        color: white;
                        background-color: @maincolor;
                        border-color: @maincolor;
                    }
                }
            }
        }

        .main__container-results {
            width: 25%;
            display: flex;
            flex-direction: column;
            padding: 1%;
            gap: 5px;
            align-items: center;
            justify-content: center;
            border-radius: 32px;
            background-color: white;

            .main__container-results-highlight {
                font-family: @mainfont;
                font-size: 1rem;
                text-align: center;

            }

            .main__container-results-message {
                font-family: @mainfont;
                font-size: 0.9rem;
                text-align: center;
            }
        }
    }

    footer {

        padding: 5% 0 0 0;
        text-align: center;
        font-family: @mainfont;
        font-size: 0.7rem;
    }
}