@maincolor: rgb(247, 247, 247);
@textcolor: rgb(84, 84, 84);
@spotcolor: #EE8090;

* {
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: @maincolor;
    color: @textcolor;

    header{
        padding: 1%;
        display: flex;
        justify-content: center;

    }

    .main__container{
        display: flex;
        padding: 5% 20%;
        gap: 10%;

        .main__container-text{
        }

        .main__container-results{

        }
    }

}





